:root {
    --purple: rgb(30, 0, 139);
    --green: rgb(21, 160, 44);
}

* { margin: 0; padding: 0; }

body {
    font-family: Arial, sans-serif;
    background: var(--purple);
}

header {
    padding: 15px 10vw;
    background: var(--green);
}
/* logo */
.logo {
    font-size: 12pt;
    letter-spacing: 1px;
}
.logo a { color: whitesmoke; }
/* all links */
a { text-decoration: none; }